.topBar{
    width :100%;
    height: 50px;
    background-color: white;
    box-shadow:4px 2px 4px black;
   text-decoration:none;
  }
  span{
    padding: 20px;
    cursor:pointer;
   
  }
  span:hover{
    opacity:0.5;
  }
  Link{
       text-decoration:underline;
  }