
.MainContainer{
    margin-top: 20px;
   
    width: 70%;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, #4b6cb7, #182848);
    border: 1px solid black;
    border-radius:10px;
    position: relative;
}
